<head>
  <title>LazyForms</title>
  <meta name="description" content="Lazy Forms, a lazy way to fill in real estate application forms">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="author" content="Justin Rahardjo">

  <meta name="keywords" content="real estate, application forms, lazy forms">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- <link rel="author" href="https://plus.google.com/[YOUR PERSONAL G+ PROFILE HERE]“/> -->
  <!-- <link rel="publisher" href="https://plus.google.com/[YOUR BUSINESS G+ PROFILE HERE]“/> -->

  <!-- OPEN GRAPH -->
  <meta property="og:title" content="LazyForms"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="/logo.png"/>
  <meta property="og:url" content="http://lazyforms.justinrahardjo.com"/>
  <meta property="og:description" content="Lazy Forms, a lazy way to fill in real estate application forms"/>
  <!-- <meta property="fb:admins" content="USER_ID"/> -->

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://lazyforms.justinrahardjo.com">
  <meta name="twitter:title" content="LazyForms">
  <!-- <meta name="twitter:site" content="@twitterusername"> -->
  <meta name="twitter:description" content="Lazy Forms, a lazy way to fill in real estate application forms">
  <meta name="twitter:image" content="/logo.png">
</head>